body{
    background: linear-gradient(rgb(0, 162, 255), rgb(13, 0, 255) 90%); 
    min-width: 460px;  
}

.contenedorCabezera{
    display: flex;
    background-color: black;
    width: 100%;
}
.bandera{
    border-radius: 50%;
    height: 50px;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 15px;
}
.tituloPrincipal{
    color: white;
    font-family: 'Gideon Roman', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 3rem;
    margin-left: auto;
}
.nav-link{
    font-size: 1.2rem;
}
.solapa{
    color: white;
}

.contenedorPerfil{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
}
.tituloSecundario{
    margin: 20px;
    width: 100%;
    color: white;
    font-family: 'Gideon Roman', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 10px;
    font-size: 2.6rem;
}
.secundario{
    border-top: 2px solid white;
    margin-top: 100px;
    padding: 30px;
}
.contenedorImagen{   
    width: 45%;
    margin: 20px;
    min-height: 450px;
    background-image: url(./imagenes/perfil.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 3px solid white;
}
.contenedorImagenFamiliar{
    background-image: url(imagenes/foto\ familiar2.JPG);
    width: 45%;
    min-height: 450px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 3px solid white;
}


.contenedorItems{
    border-radius: 5px;
    border: 3px solid white;    
    margin: 20px;
    width: 45%;
    height: auto;
    overflow:hidden;
    word-wrap:normal;
}
.items{
    color: white;
    margin-bottom: .3rem;
    margin-left: 15px;
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 2;
}
.presentacion{
    padding: 50px;
    color: white;
    font-family: 'Gideon Roman', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

@media screen and (max-width: 720px){
    .body{
        width: 100%;
    }
    .contenedorImagen{
        width: 80%;
    }
    .contenedorItems{
        width: 80%;
    }
    .contenedorImagenFamiliar{
        width: 80%;
    }
}

